body {
    background-color: beige;
}
#trainschedule-table th,
td {
    display: inline-block;
    width: 20%;
}
.jumbotron {
    background-color: black;
    color: white;
}
.card-header {
    background-color: blue;
    color: white;
}
.card{
    border:solid;
    border-width:2px;
    border-color:blue;
}